@model IEnumerable<Project_23TH0013.Models.Donhang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ngaydat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Khachhang.Hoten)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaydat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tinhtrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Khachhang.Hoten)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Madon }) |
            @Html.ActionLink("Details", "Details", new { id=item.Madon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Madon })
        </td>
    </tr>
}

</table>
