@model IEnumerable<Project_23TH0013.Models.Sanpham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenCake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Giatien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ma_loai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenCake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Giatien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ma_loai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCake }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCake }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCake })
        </td>
    </tr>
}

</table>
